<launch>
  
    <!-- Launch Gazebo  -->
    <include file="$(find gp7_moveit_config)/launch/sim_gazebo/gp7_gazebo_world.launch" />

    <!-- ros_control arm launch file -->
    <include file="$(find gp7_moveit_config)/launch/sim_gazebo/gp7_gazebo_states.launch" />   

    <!-- ros_control trajectory control dof arm launch file -->
    <include file="$(find gp7_moveit_config)/launch/sim_gazebo/gp7_jog_controller.launch" />

    <!-- moveit launch file -->
    <include file="$(find gp7_moveit_config)/launch/sim_gazebo/gp7_moveit_setup.launch" />

    <!-- moveit_jog_server launch file -->
    <include file="$(find moveit_jog_arm)/launch/gp7_jog_server.launch" />


</launch>
